* {
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

body {
    font-family: 'Mina', arial;
}

div {
    position: relative;
    border: 0px;
    -overflow: hidden;
}

#divtapatodo {
	background-image:url(../images/wsbat/fondo_bat_carga.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #444;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#divtapatodo_inn {
	width: 60%;
	height: 60%;
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
	text-align:center;
	font-family:'Play',arial;
	font-size:3vw;
	text-shadow:0px 0px 3px #000,0px 0px 3px #000,0px 0px 3px #000;
}

#divtapatodo_inn .recon {
	font-size:2vw;
	font-family:'Mina',arial;
	padding: 0.3em 2em;
}

.animaDiv {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 13;
    overflow: visible !important;
}

.animaDiv div {
    width:100%;
    height:100%;
    text-align:center;
    font-size:8vw;
    font-family:arial;
    line-height:20vw;
    font-weight:bold;
    overflow: visible !important;
}
.animaDiv .dano {
    color:#f60;
    text-shadow:0px 0px 3px #a00;
}

.animaDiv .cura {
    color:#0a0;
    text-shadow:0px 0px 3px #000;
}

.errorDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    font-size: 4vh;
    margin: 2%;
    padding: 1%;
    text-align: center;
    z-index: inherit;
    background-color:#f80;
    color: #fff;
    border-radius: 10vh;
    box-shadow:0px 0px 1vh #fff;
}

.congratzDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: inherit;
    -display:flex;
    background-color:rgba(255,255,255,0.3);
    overflow:hidden;
}

.congratzDiv div.cont {
    width: 100%;
    height: 40%;
    -background-color:rgba(255,45,255,0.3);
    text-align: center;
    color: #f80;
    text-shadow:0px 0px 1vh #000;
    font-size: 8vh;
    -flex:1;
}
.congratzDiv div.ganador {
    display:none;
    text-align: center;
    color: #fff;
    text-shadow:0px 0px 1vh #000;
    font-size: 16vh;
    font-weight:bold;
}


.focused {}

.selected {
    background-color: rgba(255, 255, 255, 0.3);
}

.dragover {
    background-color: rgba(200, 200, 200, 0.3);
}

div.slotVacio {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/slotVacio.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat
}

div.label {
    position: relative;
    width: 100%;
    font-size: 4vh
}

div#divtodobatalla {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden
}

div#divtodobatalla div#divbatalla {
    width: 100%;
    height: 100%;
    z-index: 10;
	background-image: url(http://img.chirto.com.ar/img/fondo.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

div#divtodobatalla.conchat div#divbatalla {
    width: 80%;
    left: 20%;
}

div#divtodobatalla.conmano div#divbatalla {
    width: 90%;
}

div#divtodobatalla.conchat.conmano div#divbatalla {
    width: 70%;
    left: 20%;
}

div#divtodobatalla.conchat.conmano.conver div#divbatalla {
    width: 100%;
    height: 50%;
    left: 0%;
    top: 0%
}

div#divladoop {
    width: 100%;
    height: 50%;
}

div#divladodu {
    width: 100%;
    height: 50%;
}

div.ladoturno {
    color: #a00;
}

div.bancas {
    width: 100%;
    height: 30%;
    -background-color: rgba(0, 200, 0, 0.1);
    text-align: center;
}

div.medios {
    width: 100%;
    height: 70%;
    -background-color: rgba(0, 0, 200, 0.1);
    text-align: center;
}

div.poke {
    width: 15%;
    height: 100%;
    display: inline-block;
}

div.player {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: relative;
	text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff;
}

div.playerimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

div.playername {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
}

div.playername.op {
    bottom: -4vh;
}

div.playername.du {
    top: -4vh;
}

div.playerreloj {
    position: absolute;
    width: 100%;
    text-align: center;
}

div.playerreloj.op {
    bottom: 0px;
}

div.playerreloj.du {
    top: 0px;
}

div.playerreloj .relojtot {
    font-size: 3vh;
}

div.playerreloj .relojtur {
    font-size: 4vh;
}

div.mano {
    width: 10%;
    height: 100%;
    display: inline-block;
}

div.activo {
    width: 30%;
    height: 100%;
    display: inline-block;
}

div.mazo {
    width: 15%;
    height: 100%;
    display: inline-block;
}

div.stad {
    width: 10%;
    height: 100%;
    display: inline-block;
}

div.stadium {
    width: 100%;
    height: 50%;
}

div.suporter {
    width: 100%;
    height: 50%;
}

div.priz {
    width: 15%;
    height: 100%;
    display: inline-block;
}

div.desc {
    width: 15%;
    height: 100%;
    display: inline-block;
    -cursor: pointer;
}

div.carta_poke {
    position: absolute;
    width: 100%;
    height: 100%
}

div.carta_mazo {
    position: absolute;
    width: 100%;
    height: 100%
}

div.carta_stad {
    position: absolute;
    width: 100%;
    height: 100%
}

div.carta_desc {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

div.carta_priz {
    position: absolute;
    width: 100%;
    height: 100%
}

div.carta_man0 {
    position: absolute;
    width: 100%;
    height: 100%
}

div#divtodobatalla div#divmanoductl {
    position: absolute;
    bottom: -28%;
    left: 0px;
    width: 100%;
    height: 30%;
    z-index: 15;
}

div#divtodobatalla.conchat div#divmanoductl {
    z-index: 25;
}

div#divtodobatalla.conmano div#divmanoductl {
    position: absolute;
    bottom: 0;
    top: 0px;
    left: 90%;
    width: 10%;
    height: 100%
}

div#divtodobatalla.conmano.conver div#divmanoductl {
    position: absolute;
    bottom: auto;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 15%
}

div#divtodobatalla div#divmanoduhid {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 100, 100, 0.3);
}

div#divtodobatalla.conmano div#divmanoduhid {
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

div#divtodobatalla.conmano.conver div#divmanoduhid {
    overflow-y: hidden;
    overflow-x: scroll;
    text-align: center;
}

div#divtodobatalla div.carta_mano {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15%;
    height: 100%;
    text-align: center;
}

div#divtodobatalla.conmano div.carta_mano {
    width: 90%;
    height: auto;
}

div#divtodobatalla.conmano.conver div.carta_mano {
    width: 15%;
    height: auto;
}


/*.fixContain {width:71%;padding-bottom:100%;display:inline-block;}*/

.fixContain {
    width: 100%;
    padding-bottom: 130%;
    -display: inline-block;
}

.fixInner {
    width: 100%;
    height: 100%;
    position: absolute
}

img.cartaImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 0;
}

img.cartaImgM {
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 0;
}

img.cartaImgD {
    position: absolute;
    width: 35%;
    height: 35%;
    z-index: 0;
}

img.cartaImgH {
    position: absolute;
    width: 40%;
    height: 40%;
    z-index: 0;
}

img.cartaImgP {
    position: absolute;
    width: 40%;
    height: 40%;
    z-index: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

div.overCarta {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2vh;
    z-index: 1;
    word-wrap: break-word;
    text-align: left;
}

div.dragCarta {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: grab
}

div.focused div.overCarta {
    box-shadow: 0px 0px 2vh #fff inset
}

div.overCarta img.icoEnergia {
	position:absolute;
	height: 15%;
}

div#divtodobatalla div#divelecciones {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 6vh;
    background-color: rgba(50, 50, 50, 0.4);
    z-index: 30;
    display: none;
    text-align: center;
}

div#divtodobatalla.conchat div#divelecciones {
    left: 20%;
    width: 80%;
    display: none;
}

div#divtodobatalla.conmano div#divelecciones {
    width: 90%;
    display: none;
}

div#divtodobatalla.conchat.conmano div#divelecciones {
    left: 20%;
    width: 70%;
    display: none;
}

div#divtodobatalla.conchat.conmano.conver div#divelecciones {
    left: 0%;
    width: 100%;
    height: 50%;
    display: none;
}

div#divelecciones #diveleccionescancel {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 20vh;
    height: 5vh;
    background-image: url(../images/wsbat/x_cancel.png);
    background-size: 100%;
}

div#divelecciones #diveleccionesdone {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    width: 20vh;
    height: 5vh;
    background-image: url(../images/wsbat/v_done.png);
    background-size: 100%;
}

div#divelecciones #diveleccionescenterx {
    position: absolute;
    width: 80%;
    height: 100%;
    display: inline-block;
    position: relative;
}

div#divelecciones #diveleccionescentery {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

div#divelecciones #diveleccionestexto {
    position: absolute;
    max-height: 80%;
    width: 25%;
    overflow: auto;
    text-align: left;
    font-size: 4vh;
    color: #fff;
}

div#divelecciones #diveleccionesinner {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
}

div#divelecciones .botones_vertical {
    display: inline-block;
    font-size: 5vh;
    width: 90%;
    height: 6vh;
    overflow: hidden;
    box-shadow: 0px 0px 5px #fff;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.7);
    margin: 1vh 0;
    cursor: pointer;
}

div#divelecciones .botones_vertical.ataques {
    display: inline-block;
    width: 90%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 5px #fff;
    background-color: rgba(50, 50, 50, 0.7);
    padding: 1vh 0 0 0;
    margin: 1vh 0;
    cursor: pointer;
}

div#divelecciones .botones_vertical.ataques img {
    height: 6vh;
    vertical-align: initial;
}

div#divelecciones .botones_vertical.ataques .ataReqen {
    display: inline-block;
    width: 20%;
    word-wrap: break-word;
}

div#divelecciones .botones_vertical.ataques .ataReqen img {
    height: 4vh;
}

div#divelecciones .botones_vertical.ataques .ataNombre {
    display: inline-block;
    width: 60%;
    color: #fff;
    font-size: 3vh;
    text-align: left;
    word-wrap: break-word;
}
div#divelecciones .botones_vertical.ataques .ataNombre .centrado {
	font-size: inherit;
	text-align: inherit;
	word-wrap: inherit;
	color: inherit;
	position: relative;
	bottom: 1vh;
	margin: auto;
}

div#divelecciones .botones_vertical.ataques .ataAtaque {
    display: inline-block;
    width: 20%;
    color: #fff;
    text-align: center;
    font-size: 4vh;
    word-wrap: break-word;
}

div#divelecciones .botones_vertical:hover {
    color: #000;
    background-color: rgba(200, 200, 200, 0.7);
}

div#divelecciones .botones_vertical.selected {
    color: #000;
    background-color: rgba(150, 150, 150, 0.7);
}

div#divelecciones .botones_inline {
    display: inline-block;
    box-shadow: none;
    margin: 3px;
    cursor: pointer;
}

div#divelecciones img.botones_inline {
    display: inline-block;
    box-shadow: none;
    margin: 3px;
    cursor: pointer;
    width:20%;
}

div#divelecciones img.inactivo_inline {
    display: inline-block;
    box-shadow: none;
    margin: 3px;
    cursor: not-allowed;
    width:20%;
}


div#divelecciones .botones_inline:hover {
    box-shadow: 0px 0px 5px #fff;
}

div#divelecciones .botones_inline.selected {
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
}

@keyframes flipping {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(359deg);}
}
div#divelecciones #coin_anim_container {
	position: relative;
	margin: auto;
	width: 25%;
	height: 25%;
	z-index: 15;
    perspective: 1000;
}
div#divelecciones #coin_anim {
    position: relative;
	margin: auto;
	width: 64px;
	height: 64px;
	transform-style: preserve-3d;
	-transition: all 1.0s linear;
}
div#divelecciones #coin_anim.flipping {
    animation-name: flipping;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div#divelecciones #coin_anim.head {
    animation: none;
}
div#divelecciones #coin_anim.tail {
    animation: none;
    transform: rotateX(180deg);
}
div#divelecciones #coin_anim img {
	width: 100%;
    height: 100%;
}
div#divelecciones #coin_anim_container .face {
	position: absolute;
    top:0px;
    left: 0px;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
div#divelecciones #coin_anim_container .face.back {
	transform: rotateX(180deg);
}
div#divelecciones button.lanzador {
    align-self: left;
    font-size: 3vh;
    cursor: pointer;
}
div#divelecciones #checkautom {
    font-size: 3vh;
    color:#fff;
}
div#divtodobatalla div#divchatlogs {
    position: absolute;
    top: 0%;
    left: -39%;
    width: 40%;
    height: 100%;
    background-color: #222;
    z-index: 20;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
	transition: all 1s;
}

div#divtodobatalla div#divchatlogs:hover {
    top: 0%;
    left: 0%;
}

div#divtodobatalla.conchat div#divchatlogs {
    left: 0%;
    width: 20%;
    display: block;
	transition: none;
}

div#divtodobatalla.conchat.conver div#divchatlogs {
    left: 0%;
    top: 65%;
    width: 100%;
    height: 35%;
    display: block;
	transition: none;
}

div#divchatlogs * {
    font-size: 2.5vh;
    color: #fff;
    word-wrap: break-word;
}

div#divchatlogs div.log {
    transition: all 1s;
    font-style: italic;
    padding: .3em 0 0 .5em;
    color: #888;
    font-family: tahoma, verdana, arial;
}

div#divchatlogs div.log:hover {
    background-color: #444;
}
