div#diveditamazo {
	-background-image: url('../images/editaMazo/fondo.jpg');
	background-size: 100% 100%;
	height:100%;
}

#diveditamazo .cargando {
	font-size:3vh;
	text-align:center;
	padding: 4vh 2vw;
}

#diveditamazo #diveditamazo_cartas {
	width:65%;
	height:100%;
	position:absolute;
	left:0px;
}

#diveditamazo #diveditamazo_categs {
	text-align:center;
	padding:1vh 1vw 0 1vw;
}

#diveditamazo #diveditamazo_categs .editamazo_categ {
	width:8%;
	max-width:50px;
	cursor: pointer;
	background: none;
	border-radius: 25% 25% 0 0;
	transition: background-color 1s;
}
#diveditamazo #diveditamazo_categs .editamazo_categ:hover {
	background-color: #aaa;
}

#diveditamazo #diveditamazo_categs .editamazo_categ.activa {
	background-color: #f90;
}

#diveditamazo #diveditamazo_categs .editamazo_categ.activa:hover {
	background-color: #fb4;
}

#diveditamazo_filtros {
	height:5vw;
	background-color: #333;
	border-top:2px solid #f90;
}

#diveditamazo_filtros #editamazo_txtfiltro {
	font-size:2vw;
	margin: 1% 2%;
	padding: 1% 2%;
	position: absolute;
	right: 0px;
}

#diveditamazo_filtros #editamazo_chgorden {
	font-size:1.8vw;
	margin: 0.5% 2%;
	padding: 1% 2%;
	position: absolute;
	left: 0px;
}

#diveditamazo #diveditamazo_listacartas {
	border-bottom:2px solid #f90;
	height:65vh;
	width:100%;
	overflow-y: scroll;
	background-color: #333;
}

#diveditamazo #diveditamazo_listacartas .cartaenlistacartas {
	display: inline-block;
	width: 15%;
	max-width: 100px;
	min-width: 50px;
	background-color:#ddd;
	margin:0.5vh 0.5vw;
	padding:0.5vh 0.5vw;
	text-align:center;
	cursor: url(../images/editaMazo/cursor_add.png), pointer;
	cursor: url(../images/editaMazo/cursor_add.png) 16 16, pointer;
}

#diveditamazo #diveditamazo_listacartas .cartaenlistacartas img.celc_carta {
	width:100%;
}

#diveditamazo #diveditamazo_listacartas .celc_cant {
	font-size: 2vw;
	cursor: url(../images/editaMazo/cursor_remove.png), pointer;
	cursor: url(../images/editaMazo/cursor_remove.png) 16 16, pointer;
}

#diveditamazo #diveditamazo_listacartas .celc_cant .tiene {
	color: #000;
	font-size: 100%;
}

#diveditamazo #diveditamazo_listacartas .celc_cant .maxim {
	color: #000;
	font-size: 75%;
}

#diveditamazo #diveditamazo_listacartas .celc_cant .total {
	color: #888;
	font-size: 70%;
}

#diveditamazo #diveditamazo_listacartas .celc_precio {
	font-size: 1.2vw;
	height:0.9vw;
	color: #789;
	position: relative;
	bottom: 0.9vw;
}

#diveditamazo #diveditamazo_stat {
	width:10%;
	height: 80vh;
	position:absolute;
	right:24.5vw;
	top:10vh;
	overflow: hidden;
	text-align:center;
}
#diveditamazo #diveditamazo_stat .icono {
	font-size:1.5vw;
	color: #fff; 
}
#diveditamazo #diveditamazo_stat .icono img {
	width:40%;
	max-width: 48px;
	margin:1vw 0 0 0;
}
#diveditamazo #diveditamazo_stat .icono .alladoicono {
	font-size:150%;
}
#diveditamazo #diveditamazo_stat .icono>font {
	line-height:2vw;
}
#diveditamazo #diveditamazo_stat .icono.deck {
	font-size:3vw;
	line-height:3.5vw;
}
#diveditamazo #diveditamazo_stat .icono.deck img {
	width:50%;
	max-width: 64px;
}
#diveditamazo #diveditamazo_stat .icono.categ .tit_categ {
	line-height:5vw;
	font-size: 4vw;
	font-family: 'Lobster';
}

#diveditamazo #diveditamazo_resumen .nombre_mazo {
	width:34%;
	height:10vh;
	position:absolute;
	right:0px;
	font-size: 4vw;
	font-family: 'Indie Flower';
	text-align:center;
	color: #fff;
	text-shadow: 0.0em 0.1em 0.0em #000;
}

#diveditamazo #diveditamazo_resumencartas {
	width:24%;
	height: 80vh;
	position:absolute;
	right:0px;
	top:8vh;
	overflow-y: scroll;
	background-color:#234;
	color: #fff;
	border-top: 2px solid #f90;
	border-bottom: 2px solid #f90;
}

#diveditamazo #diveditamazo_resumen .cartaenresumencartas {
	padding:0.1vh 0.5vw;
	text-align:left;
}

#diveditamazo #diveditamazo_resumen .cerc_containerimg {
	display: inline-block;
	width:15%;
	height:3vw;
	position: relative;
	z-index:1;
}

#diveditamazo #diveditamazo_resumen .cartaenresumencartas img.cerc_carta {
	display: block;
	width:15%;
	max-width:42px;
	min-width:16px;
	display: block;
	width:90%;
	height:auto;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	margin: auto;
}

#diveditamazo #diveditamazo_resumen .cerc_container {
	display: inline-block;
	width:84%;
	height:3vw;
	position: relative;
	z-index:1;
	cursor: url(../images/editaMazo/cursor_remove.png), pointer;
	cursor: url(../images/editaMazo/cursor_remove.png) 16 16, pointer;
}

#diveditamazo #diveditamazo_resumen .cerc_nombre {
	display: block;
	width:65%;
	height:1.8vw;
	font-size:1.2vw;
	position: absolute;
	left: 0;
	top:0;
	bottom:0;
	margin: auto;
	overflow: hidden;
  text-overflow: ellipsis;
	word-wrap: break-word;
}

#diveditamazo #diveditamazo_resumen .cerc_cant {
	display: block;
	width:20%;
	height:2.5vw;
	font-size:1.5vw;
	text-align:right;
	position: absolute;
	right: 15%;
	top:0;
	bottom:0;
	margin: auto;
}

#diveditamazo #diveditamazo_resumen .cerc_cant .tiene {
	font-size: 100%;
}

#diveditamazo #diveditamazo_resumen .cerc_cant .maxim {
	font-size: 80%;
}

#diveditamazo #diveditamazo_resumen .cerc_containeradd {
	display: inline-block;
	width:15%;
	height:3vw;
	position: absolute;
	right: 0px;
	z-index:1;
}

#diveditamazo #diveditamazo_resumen .cerc_containeradd .add_carta {
	width: 80%;
	cursor: pointer;
}

@media screen and (min-width: 1200px) {
	#diveditamazo #diveditamazo_listacartas .celc_cant {
		font-size: 1.5vw;
	}
	#diveditamazo #diveditamazo_resumen .nombre_mazo {
		font-size: 6vh;
	}
	#diveditamazo #diveditamazo_stat .icono.deck img {
		max-width: 60%;
  }

}

@media screen and (max-width: 600px) {
	#diveditamazo #diveditamazo_resumen .cerc_containerimg {
		height:8vw;
	}
	#diveditamazo #diveditamazo_resumen .cerc_container {
		height:8vw;
		z-index:1;
	}
	#diveditamazo #diveditamazo_resumen .cerc_nombre {
		width:100%;
		height:6vw;
		font-size:3vw;
		left: 10%;
		top: -30%;
	}

	#diveditamazo #diveditamazo_resumen .cerc_cant {
		width:80%;
		font-size:3vw;
		text-align:center;
		left: 0%;
	}
	#diveditamazo #diveditamazo_resumen .cerc_containeradd {
		width:20%;
		height:3vw;
		position: absolute;
		right: 0px;
	}
	#diveditamazo #diveditamazo_stat .icono {
		font-size:2.5vw;
		color: #fff; 
	}
	#diveditamazo #diveditamazo_stat .icono.categ .den_dec {
		font-size: 0%;
  }
	#diveditamazo #diveditamazo_listacartas .celc_cant {
		font-size: 4vw;
	}

	#diveditamazo #diveditamazo_listacartas .celc_cant .tiene {
		font-size: 100%;
	}
	#diveditamazo #diveditamazo_listacartas .celc_cant .maxim {
		font-size: 70%;
	}

	#diveditamazo #diveditamazo_listacartas .celc_cant .total {
		font-size: 60%;
	}
	#diveditamazo #diveditamazo_listacartas .celc_precio {
		font-size: 2.5vw;
		height:0.9vw;
		bottom: 1.8vw;
	}
  #diveditamazo #diveditamazo_resumencartas {
		top:8vw;
	}
	#diveditamazo #diveditamazo_listacartas {
		height:75vh;
	}
}