* {
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.unsel {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.endenales {
	font-size:inherit;
}
.endenales .den_sim {
	font-size: 80%;
}
.endenales .den_val {
	font-size: 100%;
	margin-left: 2%;
}
.endenales .den_int {
	font-size: 100%;
}
.endenales .den_dec {
	font-size: 100%;
}
body {
    font-family: 'Mina';
	background-color: #057;
}

div {
   position:relative;
}

div#divtodo {
	width:100%;
	height:100%;
	overflow:hidden;
}


div#menusuperior {
	height:7%;
	z-index: 1;
	overflow: visible;
	background-color: #004;
	box-shadow: 0 0.1vh 1.5vh #fff;
	position: absolute;
	width: 100%;
	top: 0px;
}

div#menusuperior li {
	font-size:2.5vh;
	display: inline-block;
	position: relative;
	color: #ddd;
	background-color: #000;
	padding:0.5vh 2vw 0vh 2vw;
	margin:1.0vh 2vw 0vh 2vw;
	transition: background-color 1s, color 0.5s;
	cursor:pointer;
}
div#menusuperior li:hover {
	color: #fff;
	background-color: #048;
}
div#menusuperior li.activa {
	color: #fff;
	background-color: #a40;
}
div#menusuperior li.activa:hover {
	color: #fff;
	background-color: #820;
}

div#menusuperior li.logout {
	right: 5px;
	position: absolute;
}

div#todocontainer {
	padding:8vh 0 0 0;
	height: 93%;
}

div.headerMazos {
	text-align:center;
	font-size:4vw;
}

#divlistamazos {
	text-align:center;
}

#divlistamazos .cargando {
	text-align:center;
	font-size:3vw;
	margin: 10vh 0;
}

#divlistamazos .itemMazo {
	margin: 3vw;
	padding: 2vw;
	border: 1px solid #444;
	max-width:600px;
	cursor: pointer;
}

#divlistamazos .centerMazo {
	max-width:600px;
	margin:auto;
}

#divlistamazos .itemMazo .nombre {
	font-size:2vw;
	width:60%;
}

#divlistamazos .itemMazo .cartas {
	width:15%;
	text-align:center;
	font-size:3vw;
	position: absolute;
	top: 1vh;
	right: 1vw;
}